.frist
{
  background-color: #cccfcc;
  margin-left:-15px;
  margin-right:-15px;
}
.frist a{
  color:#5d5e5d;
}
.reo{
  border-left-style: ridge;
  height:500px;
}
.middle
{ height:500px;

}
.pora {
  color:red;
  font-size: 30px;
}
.bg-image {
  /* The image used */
  background-image: url("home.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
#searchbar
{ background-color: rgba(0,0,0, 0);
  border-radius: 5px;
}
.btn btn-dark
{border-radius: 10px;}
